
body.caution {
    cursor: help ;
}

table.mineSweeper {

}

table.mineSweeper td {
    background-color: #F0F0F0 ;
    border: 1px solid #333333 ;
    cursor: pointer ;
    height: 25px ;
    line-height: 25px ;
    overflow: hidden ;
    text-align: center ;
    width: 25px ;
}

table.mineSweeper td.active {
    background-color: #D8D8D8 ;
}

table.mineSweeper td.bomb {
    font-weight: bold ;
}

table.mineSweeper td.bombed {
    background-color: #FFD0D0 ;
    color: #CC0000 ;
    font-weight: bold ;
}

table.mineSweeper td.caution {
    background-color: #FFD0D0 ;
    color: #CC0000 ;
    font-weight: bold ;
}